.Social {
  position: relative;
  line-height: 0;
  margin: 0 auto;
}

.Social-link {
  display: inline-block;
  width: calc(var(--rhythm) * 1.25);
  height: calc(var(--rhythm) * 1.25);
  padding: calc(var(--rhythm) * .25);
  margin: 0 calc(var(--rhythm) * .0625) calc(var(--rhythm) * .25);
  opacity: .9;
  color: var(--color-off-white) !important;
  border-radius: 100%;
  transition: all .25s ease-out;
  background: var(--color-off-black) !important;
}

.Social-link:hover {
  color: var(--color-off-white) !important;
  opacity: 1;
  transform: scale(1.1, 1.1);
}

.Social-link--pinterest:hover {
  background: #c92228 !important;
}

.Social-link--instagram:hover {
  background: #4e433c !important;
}

.Social-link--twitter:hover {
  background: #4099ff !important;
}

.Social-link--google:hover {
  background: #dd4b39 !important;
}

.Social-link--facebook:hover {
  background: #3b5998 !important;
}

.Social-icon {
  width: 100%;
}

@media (--gtmd-viewport) {
  .Social-link {
    width: calc(var(--rhythm) * 1.125);
    height: calc(var(--rhythm) * 1.125);
    padding: calc(var(--rhythm) * .2);
  }
}
