.Prose {
  margin-left: auto;
  margin-right: auto;
}

.Prose h1 {
  font-size: 2.4em;
}

.Prose h2 {
  font-size: 1.8em;
}

.Prose h3 {
  font-size: 1.5em;
}

.Prose p a,
.Prose li a {
  opacity: .9;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,.7) 70%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: left bottom;
}

.Prose p {
  margin-bottom: var(--rhythm);
}

.Prose p:last-child {
  margin-bottom: 0;
}

.Prose ul {
  list-style-type: disc;
  margin-left: var(--rhythm);
}

@media (--sm-viewport) {
  .Prose h1 {
    font-size: 2em;
  }

  .Prose h2 {
    font-size: 1.6em;
  }

  .Prose h3 {
    font-size: 1.3em;
  }

}
