:root {
  --color-default: #999;
  --color-border-default: #ddd;
  --color-hover: #777;
  --color-border-hover: #bbb;
  --color-active: var(--color-off-black);
}

.Form-label {
  font-family: var(--font-family-sans-serif);
  font-size: 1em;
  text-transform: uppercase;
}

.Form-input {
  padding: calc(var(--rhythm) * .25);
  transition: all .25s ease-out;
  border: 1px solid var(--color-border-default);
  box-shadow: none;
}

.Form-input:hover {
  border-color: var(--color-border-hover);
}

.Form-input:focus {
  border-color: var(--color-active);
  outline: none;
}

.Form-input.is-error {
  border-color: #c00;
}

.Form-radioInput {
  opacity: 0;
}

.Form-radioLabel {
  position: relative;
  padding-top: calc(var(--rhythm) * .125);
  padding-bottom: calc(var(--rhythm) * .125);
  padding-left: calc(var(--rhythm) * 1.125);
  cursor: pointer;
  transition: all .25s ease-out;
  color: var(--color-default);
}

.Form-radioLabel:hover {
  color: var(--color-hover);
}

.Form-radioInput:focus ~ .Form-radioLabel:after {
  position: absolute;
  top: 0;
  right: calc(var(--rhythm) * -.375);
  left: calc(var(--rhythm) * -.375);
  box-sizing: content-box;
  width: 100%;
  height: 98%;
  padding-right: calc(var(--rhythm) * .375);
  padding-left: calc(var(--rhythm) * .375);
  content: '';
  border: 1px dashed var(--color-border-hover);
  border-radius: calc(var(--rhythm) * .75);
}

.Form-radioLabel:before {
  position: absolute;
  top: calc(var(--rhythm) * .25);
  left: 0;
  width: calc(var(--rhythm) * .75);
  height: calc(var(--rhythm) * .75);
  content: '';
  transition: all .25s ease-out;
  border: 1px solid var(--color-border-default);
  border-radius: var(--rhythm);
  background-color: var(--color-off-white);
  box-shadow: inset 0 0 0 calc(var(--rhythm) * .175) var(--color-off-white);
}

.Form-radioLabel:hover:before,
.Form-radioInput:focus ~ .Form-radioLabel:before {
  border-color: var(--color-border-hover);
  background-color: var(--color-border-hover);
}

.Form-radioInput:checked ~ .Form-radioLabel {
  color: var(--color-active);
}

.Form-radioInput:checked ~ .Form-radioLabel:before {
  background-color: var(--color-active);
  box-shadow: inset 0 0 0 calc(var(--rhythm) * .175) var(--color-off-white);
}

.Form-fields {
  transition: all .25s ease-out;
}

.Form-fields.is-sending {
  opacity: .3;
}

.Form-fields.is-sending .Form-input,
.Form-fields.is-sending .Form-radioLabel,
.Form-fields.is-sending .Form-radioInput {
  pointer-events: none;
}

.Form-error {
  color: #c00;
}

.Form-response {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  visibility: hidden;
  margin-bottom: calc(var(--rhythm) * .5);
  transition: all .25s ease-out;
  transform: translateY(40%);
  opacity: 0;
  color: var(--color-off-black);
  background-color: var(--color-off-white);
  box-shadow: 0 0 var(--rhythm) rgba(0,0,0,.3);
}

.Form-response:after {
  position: absolute;
  bottom: calc(var(--rhythm) * -.25);
  left: 50%;
  width: calc(var(--rhythm) * .5);
  height: calc(var(--rhythm) * .5);
  margin-left: calc(var(--rhythm) * -.25);
  content: '';
  transform: rotate(45deg);
  background-color: var(--color-off-white);
}

.Form-response.is-active {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.Form-responseContainer {
  position: relative;
}

.Form-responseClose {
  font-size: var(--rhythm);
  line-height: var(--rhythm);
  position: absolute;
  top: 0;
  right: 0;
  width: var(--rhythm);
  height: var(--rhythm);
  opacity: .5;
}

.Form-responseClose:hover {
  opacity: .9;
}
