@import 'suitcss-utils-layout';

.u-lRestrict {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.u-lRestrictRead {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
}

.u-lRestrict,
.u-lRestrictRead {
  padding-left: calc(var(--rhythm) * .5);
  padding-right: calc(var(--rhythm) * .5);
}

.u-lRound {
  border-radius: 1000px;
}

@media (--gtmd-viewport) {
  .u-lRestrict,
  .u-lRestrictRead {
    padding-left: calc(var(--rhythm) * 1);
    padding-right: calc(var(--rhythm) * 1);
  }
}
