.Button {
  border: 1px solid var(--color-off-black);
  font-family: var(--font-family-sans-serif);
  padding-left: calc(var(--rhythm) * .5);
  padding-right: calc(var(--rhythm) * .5);
  transition: all .25s ease-out;
}

.Button:hover,
.Button:focus,
.Button:active,
.Button.is-active {
  background-color: #eee;
  outline: none;
}

.Button:active,
.Button.is-active {
  background-color: var(--color-off-black);
  color: var(--color-off-white);
  border-color: transparent;
}

.Button--large {
  font-size: 1.25em;
}
